html,
body,
#root{
  height: 100%;
  width: 100%;
  margin: 0;
  overflow: hidden;
  /* border-color: #000000; */
  /* background-color: #030113; */
  background: linear-gradient(to left, #030113 50%, #d8d7d8 50%);
}

/* #root{
} */
